<header class="site-chrome-header" role="banner">
  <a class="site-chrome-header__brand" href="{{ site.org }}/">
    <img class="site-chrome-header__mark" src="{{ site.org }}/brand/assets/logo-symbol.png" width="34" height="34" alt="Stables">
    <span class="site-chrome-header__titles">
      <span class="site-chrome-header__name">Stables</span>
      <span class="site-chrome-header__slogan">Be your bank</span>
    </span>
  </a>
  <a class="site-chrome-header__pill" href="https://minima.global" target="_blank" rel="noopener noreferrer">Built on MINIMA</a>
</header>
